body{
    background-image: linear-gradient(to right,rgb(195, 235, 248), white, rgb(195, 235, 248));
}
h1{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
}
#header{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: flex;
    flex-direction:column;
}
#description{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
}
.projects{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-radius: 50%;
}
.icon{
    border-radius: 50%;
}
.game{
    border:5px;
    border-style: solid;
    border-color: black;
    border-radius: 10%;
}